@import '@g/asset/style/global.scss';

.icon {
  @extend %flex-center;
  margin: 0 8px;
  width: 20px;
  height: 100%;
  svg {
    width: 100%;
    min-width: 20px;
  }
}

// 弹幕图标
.barrageIcon{
  width: 24px;
  height: 20px;
}