@import '@g/asset/style/global.scss';
@import '@g/asset/style/svg.scss';

.container {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(0,0,0,0.5);
  overflow: hidden;
  color:#fff;

  &.hover:hover {
    & > .controlBar {
      pointer-events: all;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &.display {
    & > .controlBar {
      pointer-events: all;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.controlBar {
  pointer-events: none;
	@extend %flex-between-center;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50px;
	padding: 0 10px;
  transition: all 0.5s ease;
	transform: translate3d(0, 100%, 0);
	opacity: 0;
  background:rgba(0,0,0,0.45);
  z-index: 999;
  
	& > div {
		cursor: pointer;
		border: none;
    // line-height: 40px;
    // height: 40px;
	}
}

.middleContainer {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .icon {
      width: 50px;
    }
}

.animation {
  animation: rotation 0.5s linear 0s infinite running;
}


@keyframes rotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


.leftContainer {
  @extend %flex-center;
}

.rightContaienr {
  @extend %flex-center;;
}