@import '@g/asset/style/global.scss';
@import '@g/asset/style/focuseContainer.scss';
@import '@g/asset/style/svg.scss';

.voiceContainer {
  @extend %flex-center;
}


.multiple {
  // width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


// .volumeBar {
//   width: 50px;
//   height: 110px;
//   padding: 10px 0;
//   border-radius:2px;
//   @extend %flex-center;
//   flex-direction: column;
//   span {
//     font-size: 12px;
//   }
// }


.listContainer {
  li {
    &.action {
      color: #52C9A0;
    }
  }
}


.resolutionContainer.focusContainer {
  width: auto;
}
