@import '@g/asset/style/global.scss';
@import '@g/asset/style/focuseContainer.scss';
@import '@g/asset/style/svg.scss';

.voiceContainer {
  @extend %flex-center;
}


.volumeBar {
  width: 50px;
  height: 110px;
  padding: 10px 0;
  border-radius:2px;
  @extend %flex-center;
  flex-direction: column;
  span {
    font-size: 12px;
  }
}


.listContainer {
  width: 100px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    text-align: center;
		line-height: 40px;
    transition: all 1s ease;
    cursor:pointer;
		&:hover,
		&.action {
			color: #52C9A0;
		}
  }
}
