
.posterContainer {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    .controlBar {
      pointer-events: all;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


}

.posterHide {
  display: none;
}


.container {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(0,0,0,0.5);
  overflow: hidden;
  color:#fff;
  z-index:999;
  
  &:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  &.display {
    & > .controlBar {
      pointer-events: all;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}