@import '@g/asset/style/global.scss';
@import '@g/asset/style/focuseContainer.scss';
@import '@g/asset/style/svg.scss';

.voiceContainer {
  @extend %flex-center;
}


.content {
  // width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}


.tipsContainer {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    text-align: center;
		line-height: 40px;
    transition: all 1s ease;
    cursor:pointer;
		&:hover,
		&.action {
			color: #52C9A0;
		}
  }
}
.resolutionContainer.focusContainer {
  width: auto;
}
