@import '@g/asset/style/global.scss';
@import '@g/asset/style/focuseContainer.scss';
@import '@g/asset/style/svg.scss';

.voiceContainer {
  @extend %flex-center;
}

.volumeBar {
  // width: 50px;
  height: 110px;
  padding: 10px 0;
  border-radius:2px;
  @extend %flex-center;
  flex-direction: column;
  span {
    font-size: 12px;
    height:15px;
    padding: 5px 0;
    display: block;
  }
}
