@import '@g/asset/style/global.scss';

.progressBar {
  width: 100%;
  line-height: 1;
  white-space: nowrap;
	@extend %flex-center;
	& > div:first-child {
		flex: 1;
	}
	& > div:last-child {
		padding: 0 10px;
		text-align: center;
	}
}