
@import '@g/asset/style/global.scss';

.container {
  @extend %flex-center;
}


.icon {
  width: 30px;
  padding: 0 10px;
  & > svg {
    vertical-align: middle;
  }
}
.progressBar {
	width: 100%;
	@extend %flex-center;
	& > div:first-child {
		flex: 1;
	}
	& > div:last-child {
		padding: 0 10px;
		text-align: center;
	}
}